.end{
    background-color: rgb(13, 0, 255);
    color: white;
    padding: 17px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.end:hover{
    background-color: rgb(10, 10, 91);
}

header{
    text-align: center;
}

.nomes {
    background-color: rgb(18, 18, 146);
    color: white;
    width: 300px;
    height: 33px;
    border-radius: 30px;
    font-family: "Special Gothic Expanded One", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(img/fundo.jpg);
    background-size: 100%;
    background-repeat: repeat;

}

.img{
    border-radius: 20px;
}

.log {
    background-color: rgb(9, 9, 67);
    color: white;
    padding: 20px 30px;
    text-align: center;
    margin-left: 80px;
    text-decoration: none;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.log:hover{
    background-color: rgb(3, 3, 33);
}

main{
    margin-left: 50px;
}

footer{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

.cabeçalho{
    background-color: rgb(17, 17, 87);
    color: white;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    font-size: 30px;
}

.social{
    text-decoration: none;
    margin-right: 8px;
    margin-left: 33px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.social:hover{
    color: aqua;
}

.rede {
    padding: 0px 22px 0px 25px;
}


/* css da aba de formulario */

.cadastro{
    text-align: center;
}

.titleca{
    background-color: rgb(5, 5, 189);
    color: rgb(255, 255, 255);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enviar {
    background-color: rgb(6, 6, 111);
    color: white;
    border-radius: 10px;
    padding: 20px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.enviar:hover {
    background-color: blue;
}

p {
    font-family: "Special Gothic Expanded One", sans-serif;
}

k{
    font-family: "Special Gothic Expanded One", sans-serif;
}
ul {
    font-family: "Special Gothic Expanded One", sans-serif;
}

@media screen and (max-width: 768px){
.body{
    width: 100%;
    flex-direction: column;
}
}

